*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper{
  background-color: #5988e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* BTN */
.btn-csm{
  width: 750px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 32px;
}

/* CONTAINER BOX */
.container{
  width: 750px;
  aspect-ratio: 1/1;
  
  display: flex;
  flex-wrap: wrap;
}

/* BOX */
.box{
  width: calc(100% / 10);
  aspect-ratio: 1/1;
  background-color: #293b64;
  border: 2px solid white;
  color: white;

  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

/* CLICKED */

.box.clicked{
  background-color: #85a8ef;
}
